<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="com.blackberry.pim.contacts"
    version="1.0.0">

    <description>BlackBerry 10 Contacts APIs</description>
    <license>Apache 2.0</license>

    <platform name="blackberry10">
        <dependency id="com.blackberry.utils" />
        <dependency id="com.blackberry.pim.lib" />
        <js-module src="www/client.js">
            <clobbers target="blackberry.pim.contacts" />
        </js-module>
        <js-module src="www/Contact.js" />
        <js-module src="www/ContactAccount.js" />
        <js-module src="src/blackberry10/contactConsts.js" />
        <js-module src="src/blackberry10/ContactError.js" />
        <js-module src="src/blackberry10/contactUtils.js" />
        <js-module src="src/blackberry10/ContactFindOptions.js" />
        <js-module src="src/blackberry10/ContactPickerOptions.js" />
        <js-module src="src/blackberry10/ContactName.js" />
        <js-module src="src/blackberry10/ContactOrganization.js" />
        <js-module src="src/blackberry10/ContactAddress.js" />
        <js-module src="src/blackberry10/ContactField.js" />
        <js-module src="src/blackberry10/ContactPhoto.js" />
        <js-module src="src/blackberry10/ContactNews.js" />
        <js-module src="src/blackberry10/ContactActivity.js" />
        <config-file target="www/config.xml" parent="/widget/rim:permissions">
            <rim:permit>access_pimdomain_contacts</rim:permit>
        </config-file>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="com.blackberry.pim.contacts" value="com.blackberry.pim.contacts" />
        </config-file>
        <source-file src="src/blackberry10/ContactActivity.js" />
        <source-file src="src/blackberry10/ContactAddress.js" />
        <source-file src="src/blackberry10/ContactError.js" />
        <source-file src="src/blackberry10/ContactField.js" />
        <source-file src="src/blackberry10/ContactFindOptions.js" />
        <source-file src="src/blackberry10/ContactName.js" />
        <source-file src="src/blackberry10/ContactNews.js" />
        <source-file src="src/blackberry10/ContactOrganization.js" />
        <source-file src="src/blackberry10/ContactPhoto.js" />
        <source-file src="src/blackberry10/ContactPickerOptions.js" />
        <source-file src="src/blackberry10/contactUtils.js" />
        <source-file src="src/blackberry10/contactConsts.js" />
        <source-file src="src/blackberry10/index.js" />
    </platform>
</plugin>
