<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!-- Copyright 2015 BlackBerry Ltd.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.

 You may obtain a copy of the License at
 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 express or implied. See the License for the specific language
 governing permissions and limitations under the License. -->

<widget id="com.ctetreault.eclnopush" version="0.0.1"
  xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns="http://www.w3.org/ns/widgets">
  <name>ECL Demo (No Push)</name>
  <description>
    A sample app which fetches json data from a server, and uses it to build an
    emergency contact list
  </description>
  <author email="noreply@blackberry.com" href="http://developer.blackberry.com/">
    Chad Tetreault
  </author>

  <content src="index.html"/>

  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="websecurity" value="disable"/>

  <!-- blackberry 10 -->
  <platform name="blackberry10">
    <rim:splash src="assets/landing.jpg"/>
    <access origin="*"/>
  </platform>

  <!-- android -->
  <platform name="android">
    <access origin="*"/>
    <access origin="tel:*" launch-external="yes"/>
    <access origin="geo:*" launch-external="yes"/>
    <access origin="mailto:*" launch-external="yes"/>
    <access origin="sms:*" launch-external="yes"/>
    <access origin="http://*" launch-external="yes"/>
    <access origin="https://*" launch-external="yes"/>

    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
  </platform>

  <platform name="ios">
    <access origin="*"/>
    <access origin="tel:*" launch-external="yes"/>
    <access origin="geo:*" launch-external="yes"/>
    <access origin="mailto:*" launch-external="yes"/>
    <access origin="sms:*" launch-external="yes"/>
    <access origin="http://*" launch-external="yes"/>
    <access origin="https://*" launch-external="yes"/>
  </platform>

</widget>
