#message { font-weight: bold; font-style: italic; color: #F00 }
table {
  border-collapse: collapse;
  border: 1px solid #38160C;
  font: normal 11px verdana, arial, helvetica, sans-serif;
  color: #F6ECF0;
  background: #322;
  }
caption {
  text-align: left;
  font: normal 11px verdana, arial, helvetica, sans-serif;
  background: transparent;
  }
input {
  vertical-align:top
  }
td, th {
  border: 1px dashed #B85A7C;
  padding: .8em;
  color: #F6ECF0;
  }
thead th, tfoot th {
  font: bold 11px verdana, arial, helvetica, sans-serif;
  border: 1px solid #A85070;;
  text-align: left;
  background: #38160C;
  color: #F6ECF0;
  padding-top:6px;
  }
tbody td a {
  background: transparent;
  text-decoration: none;
  color: #F6ECF0;
  }
tbody td a:hover {
  background: transparent;
  color: #FFFFFF;
  }
tbody th a {
  font: normal 11px verdana, arial, helvetica, sans-serif;
  background: transparent;
  text-decoration: none;
  font-weight:normal;
  color: #F6ECF0;
  }
tbody th a:hover {
  background: transparent;
  color: #FFFFFF;
  }
tbody th, tbody td {
  vertical-align: top;
  text-align: center;
  }
tfoot td {
  border: 1px solid #38160C;
  background: #38160C;
  padding-top:6px;
  }
.odd {
  background: #7B2342;
  }
tbody tr:hover {
  background: #51152A;
  }
tbody tr:hover th,
tbody tr.odd:hover th {
  background: #51152A;
  }