<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" xml:lang="en"
    id="WAAPushTest" version="1.0.1">

    <name>WAA Push Test</name>

    <description>
        This is a simple Push sample for BB10 WebWorks apps.
    </description>

    <author href="http://www.rim.com/" email="bthornton@rim.com"
        rim:copyright="Copyright 2011-2012 Research In Motion Limited">BT</author>

    <rim:category name="all" />

    <content src="index.html" />

    <icon src="img/icon-150.png" />

    <!-- BB10 -->
    <feature id="blackberry.app.orientation">
        <param name="mode" value="auto"></param>
    </feature>
    <feature id="blackberry.push" />        <!-- for regisering with push service -->
    <feature id="blackberry.invoked" />     <!-- for push invocation -->
    <feature id="blackberry.ui.toast" />    <!-- for toast popup on push -->
    <feature id="blackberry.ui.cover" />    <!-- for window cover update -->
    <feature id="blackberry.invoke" />      <!-- for invoking the server link in browser -->
    <feature id="blackberry.identity" />    <!-- for getting pin address -->

    <rim:invoke-target id="waa.pushtest.target">
        <type>APPLICATION</type>
        <filter>
          <action>bb.action.PUSH</action>
          <mime-type>application/vnd.push</mime-type>
        </filter>
      </rim:invoke-target>
    <access uri="*" subdomains="true">
    </access>

    <rim:permissions>
        <rim:permit>access_shared</rim:permit>
        <rim:permit>read_device_identifying_information</rim:permit>
        <rim:permit>post_notification</rim:permit>
    </rim:permissions>

    <feature id="blackberry.app" />
    <feature id="blackberry.system" />
</widget>
